*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box; 
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("images/log2.png");
    background-size: cover;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    background: transparent;
    color: white;
}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 30px;
}
form h1{
    margin-bottom: 30px;
    color: white;
}
::placeholder{
    color: white    ;
}
.hoverr{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.9s ease;
    font-size: 150%;
    font-family:'Redressed', cursive;
}
button:hover{
    background-color: green;
    color: white;
}